<p>ID: <%= user.id %></p>
<p>First Name: <%= user._json.first_name %></p>
<p>Last Name: <%= user._json.last_name %></p>
<p>Email: <%= user._json.email %></p>
<p>Gender: <%= user._json.gender %></p>

<% chamaJS(user); %>
