<p>ID: <%= user.profile.id %></p>
<p>First Name: <%= user.profile._json.first_name %></p>
<p>Last Name: <%= user.profile._json.last_name %></p>
<p>Email: <%= user.profile._json.email %></p>
<p>Gender: <%= user.profile._json.gender %></p>
<p>AccessToken: <%= user.accessToken %></p>

<button onclick="shareBtn(user.accessToken, user.profile.id)">Compartilhar no face</button>