<html>
<head>
<title>Facebook Login using Node and Express</title>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"
			integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			crossorigin="anonymous"></script>
</head>
<body>
<% if (!user) { %>
  <div style="width:500px;height:180px;background-color:#ececec;padding:80px;margin-left:22%;margin-top:9%;">
	<h2 style="font-size:40px;">Welcome! Please log in.</h2>
	<a href="/login-fb/auth/facebook"><img src="fb-login.jpg" width="151" height="24"></a>
	</div>
<% } else { %>
	<h2>Hello, <%= user.profile.name.givenName + " " + user.profile.name.familyName %>.</h2>
	<p>ID: <%= user.profile.id %></p>
	<p>First Name: <%= user.profile._json.first_name %></p>
	<p>Last Name: <%= user.profile._json.last_name %></p>
	<p>Email: <%= user.profile._json.email %></p>
	<p>Gender: <%= user.profile._json.gender %></p>
	<p>AccessToken: <%= user.accessToken %></p>

<% } %>
</body>
</html>
